.menu {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  width: 50%;
  background-color: #fff;
  border: 1px solid #121212;
  transform: translateY(0);
  transition: all 0.3s ease-out;

  @media (max-width: 600px) {
    width: 100%;
  }

  &-closed {
    transform: translateY(-100%);
  }

  &__close {
    padding: 16px;
    border-bottom: 1px solid #121212;
    width: 100%;
    text-align: start;
    background-color: #ffffff;

    @media (max-width: 768px) {
      padding: 12px 16px;
    }
  }

  &__close-img {
    width: 24px;
    height: 24px;

    @media (max-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }

  &__links {}
  &__links-item {
    display: block;
    font-size: 21px;
    line-height: 120%;
    border-bottom: 1px solid #121212;
    padding: 24px;
  }

  &__terms {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid #121212;
  }

  &__terms-item {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.4px;

  }

  &__socials {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__socials-item {}
  &__socials-item-img {
    width: 24px;
    height: 24px;
  }
}