.header {
  // TODO add fixed position
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #121212;

  &__links, &__account {
    width: 25%;
    display: flex;

    @media (max-width: 1400px) {
      width: unset;
    }
  }

  &__shop, &__contact, &__signin, &__cart {
    height: 100%;
    width: 50%;
    padding: 32px 24px;
    text-align: center;

    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.4px;

    @media (max-width: 1400px) {
      display: none;
    }
  }

  &__menu-button {
    display: none;
    padding: 16px;
    border-right: 1px solid #121212;
    background: #fff;

    @media (max-width: 1400px) {
      display: block;
    }

    @media (max-width: 768px) {
      padding: 12px;
    }
  }

  &__shop, &__contact {
    border-right: 1px solid #121212;
  }

  &__cart-button {
    display: none;
    padding: 16px;
    border-left: 1px solid #121212;
    background: #fff;

    @media (max-width: 1400px) {
      display: block;
    }

    @media (max-width: 768px) {
      padding: 12px;
    }
  }

  &__signin, &__cart {
    border-left: 1px solid #121212;
    background-color: #fff;
  }
}