.why-us {
  border-right: 1px solid #121212;
  border-left: 1px solid #121212;
  border-bottom: 1px solid #121212;
  display: flex;
  align-items: start;

  @media (max-width: 1000px) {
    display: block;
  }

  &__title {
    position: sticky;
    top: 20px;
    padding: 80px;
    flex: 0 0 50%;
    width: 50%;

    font-size: 50px;
    font-weight: 600;
    line-height: 120%;

    @media (max-width: 1000px) {
      position: unset;
      width: unset;
      border-bottom: 1px solid #121212;
      padding: 8vw;
    }
    
    @media (max-width: 610px) {
      padding: 40px 16px;
      font-size: 34px;
    }
  }

  &__list {
    flex: 0 0 50%;
    width: 50%;
    border-left: 1px solid #121212;

    @media (max-width: 1000px) {
      width: unset;
      border: unset;
    }

    &-item {
      padding: 80px;
      border-bottom: 1px solid #121212;

      @media (max-width: 1000px) {
        padding: 8vw;
      }

      @media (max-width: 610px) {
        padding: 40px 16px;
      }
    }

    &-title {
      font-size: 38px;
      line-height: 120%;
      margin-bottom: 16px;

      @media (max-width: 610px) {
        font-size: 26px;
      }
    }
    &-text {
      font-size: 16px;
      line-height: 140%;
    }
  }

}